




.bg-blue{background-color: blue;}

.bg-lightblue{background-color: mediumturquoise;}

.bg-goodpink{background-color: hotpink;}

.bg-grey{background-color: darkgrey;}

.bg-black{background-color: black;}

.bg-white{color: rgb(255, 255, 255);}




