p,
li {
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
font-size: 50px;
font-family: cursive;
}

h2 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    text-align: center;
}

.bg-dark-blue {
    background-color: darkblue;
}

#header,
#main,
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
}

h1,
h2,
h3,
p {
    color: white;
}

body {
    padding-bottom: 0rem;
    align-items: center;
  }
  .starter-template {
    text-align: center;
  }

  p,
  li {
    border: 2px solid powderblue;
    margin: 50px;
    font-stretch: narrower;
    -ms-flex-align: center;
    align-self: center;
  }

.bg-white {
    background-color: white;
}

li {
    color: darkblue;
    order: inherit;
}

img {
    box-shadow: -10px 10px 30px color(blue), 10px,-10px, 30px color(srgb(199, 217, 252));
    border-radius: 100%;
}

.bg-white {
  height: 70px;
  width: 500px;
  align-items: center;
}

.shadow {
    box-shadow: white;
}

li {
    padding: 20px;
}
 
* {
    padding: 0;
    margin: 0;
}

