p,
li {
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
font-size: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    text-align: center;
}

.bg-dark-blue {
    background-color: darkblue;
}

#header,
#main,
#footer {
    align-items: center;
}

h1,
h2,
h3,
p {
    color: white;
}

body {
    padding-bottom: 5rem;
  }
  .starter-template {
    text-align: center;
  }

  p,
  li {
    border: 2px solid powderblue;
    margin: 50px;
  }

.bg-white {
    background-color: white;
}

li {
    color: darkblue;
}