
.blue{
    color: #151d64;
}

nav.navbar{
    background-color: #151d64 !important
}

.bg-blue{background-color: blue;}

.bg-lightblue{background-color: mediumturquoise;}

.bg-goodpink{background-color: hotpink;}

.bg-grey{background-color: darkgrey;}

.black{background-color: black;}

.bg-white{color: rgb(255, 255, 255);}

.edit-image{text-align: center;
margin: 0 auto;

 }

 .edit-class{
    text-align: center;
 }

.editing-image{box-shadow:0px 5px 15px rgba(0, 0, 0, 0.3);
border-radius: 10px;}
    
pl{display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 20px;}

h1{font-size: 40;
    text-align: center;
}
p{font-size: 60px;}

.edit-text{
    font-size: 24px !important;
    
}

h4{text-align: end;}
li{text-align: end;}